{% extends 'my_bootstrap3.html' %}
{% load bootstrap3 %}
{% block bootstrap3_content %}

<!-- Second navbar for sign in -->
<nav class="navbar navbar-default navbar-fixed-top" style="box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
                <span>
                    <a class="navbar-brand"><i class="fa fa-newspaper-o"></i> RSS News</a>
                </span>
        </div>
        <div class="navbar-right">
            <div class="navbar-text"><a class="btn btn-default btn-xs" href="/login">Log in</a></div>
            <div class="navbar-text"><a class="btn btn-default btn-xs" href="/signup">Sign up</a></div>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
    </div><!-- /.container -->
</nav><!-- /.navbar -->

<div class="container" style="margin-top: 100px;">
<div class="jumbotron">
  <h2><strong>Page does not exist</strong></h2>
  <p>You have tried to reach a page which does not exist yet. It's a fine idea to set some unreachable life-aims so you could not stop the process of your self improvement, but not in our case.</p>
        <a class="btn btn-success btn-lg" href="/">Go to the main page</a>
</div>
</div>

{% endblock %}

{% block add_script %}

{% endblock %}