{% extends 'my_bootstrap3.html' %}
{% load bootstrap3 %}
{% block bootstrap3_content %}

    <!-- Second navbar for sign in -->
    <nav class="navbar navbar-default navbar-fixed-top" style="box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <span>
                    <a class="navbar-brand"><i class="fa fa-newspaper-o"></i> RSS News</a>
                </span>
            </div>
            <div class="navbar-right">
                <div class="navbar-text"><a class="btn btn-default btn-xs" href="/login">Log in</a></div>
                <div class="navbar-text"><a class="btn btn-default btn-xs" href="/signup">Sign up</a></div>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            </div><!-- /.container -->
    </nav><!-- /.navbar -->

    <div class="container" style="margin-top: 100px;">
        <div class="row">
            <div class="col-xs-0 col-md-3"></div>
            <div class="col-xs-0 col-md-6">

                {% for post in posts %}
                    <div class="post-block">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-xs-12">
                                    <h3>{{ post.title }}</h3>
                                    <hr>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div>{{ post.text }}</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 text-right">
                                    <div class="btn-group">
                                        <a class="btn btn-sm btn-default" href="/post/{{post.id}}">Read</a>
                                        <button class="btn btn-sm btn-default">Add Favorite</button>
                                    </div>
                                </div>
                                <br>
                                <br>
                            </div>
                        </div>
                    </div>
                    <br>
                {% endfor %}

            </div>
            <div class="col-xs-0 col-md-3"></div>
        </div>
    </div>

{% endblock %}

{% block add_script %}


{% endblock %}


