{% extends 'my_bootstrap3.html' %}
{% load bootstrap3 %}
{% block bootstrap3_content %}

<!-- Second navbar for sign in -->
<nav class="navbar navbar-default navbar-fixed-top" style="box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
                <span>
                    <a class="navbar-brand"><i class="fa fa-newspaper-o"></i> RSS News</a>
                </span>
        </div>
        <div class="navbar-right">
            <div class="navbar-text"><a class="btn btn-default btn-xs" href="/login">Log in</a></div>
            <div class="navbar-text"><a class="btn btn-default btn-xs" href="/signup">Sign up</a></div>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
    </div><!-- /.container -->
</nav><!-- /.navbar -->

<div class="container" style="margin-top: 100px;">

    <h1>Log in</h1>

    <div class="col-md-4">
        <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">

        <input type="text" class="form-control" placeholder="Password" aria-describedby="basic-addon1">

    </div>
    <div class="btn-group btn-group-lg">
        <a class="btn btn-sm btn-success" href="#">Login</a>
    </div>
</div>


{% endblock %}

{% block add_script %}

{% endblock %}