{% extends 'my_bootstrap3.html' %}
{% load staticfiles %}
{% load bootstrap3 %}
{% block bootstrap3_content %}

<!-- Second navbar for sign in -->
<nav class="navbar navbar-default navbar-fixed-top" style="box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
                <span>
                    <a class="navbar-brand"><i class="fa fa-newspaper-o"></i> RSS News</a>
                </span>
        </div>
        <div class="navbar-right">
            <div class="navbar-text"><a class="btn btn-default btn-xs" href="/login">Log in</a></div>
            <div class="navbar-text"><a class="btn btn-default btn-xs" href="/signup">Sign up</a></div>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
    </div><!-- /.container -->
</nav><!-- /.navbar -->

<div class="container" style="margin-top: 100px;">

    <h1>Sign up</h1>

    <form action="{% url 'signup_user' %}" method="post">
        {% csrf_token %}
        <div class="col-md-4">
            <input type="text" name="user_name" class="form-control" placeholder="Username" id="user_name_input">
            <input type="text" name="password" class="form-control" placeholder="Password">
            <input type="text" name="repeat_password" class="form-control" placeholder="Repeat password">
            <input type="text" name="email" class="form-control" placeholder="Email">
        </div>
        <div class="btn-group btn-group-lg">
            <button type="submit" class="btn btn-sm btn-success">Signup</button>
        </div>
    </form>
    <button class="btn btn-sm btn-danger" id="check_name_btn">Check name</button>
</div>


{% endblock %}

{% block add_script %}
    <script src={% static "rss_news/login.js" %}></script>
{% endblock %}